################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/cache
/src/server/views/resources/emojis
/src/server/views/resources/css/twemoji-amazing.css
/src/server/resources.js
/configs
/logs
/push.bat
/bin
/build
/obj
*.ini
