################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/cache
/src/server/pages/resources/emojis
/src/server/pages/resources/css/twemoji-amazing.css
/src/server/resources.js
/src/configs/conf.json
/src/configs/confinterim.json
/logs
/push.bat
/bin
/obj
*.ini
