################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/node_modules
/cache
/configs
/logs
/push.bat
/bin
/build
/obj
*.ini