@font-face {
    font-family: ab;
    src: url(h1.woff);
}

body {
    background-color: #36393f;
    text-rendering: optimizeLegibility;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h2 {
    font-size: calc(1rem + 1.25vw);
}

h1, h2, h3, h4, h5 {
    font-family: ab;
    color: white;
}

a {
    width: auto
}

    a:hover {
        text-decoration: underline;
    }

.submit {
    display: block;
    margin-inline-start: auto;
}

input[type=button], input[type=submit] {
    cursor: pointer;
    background-color: #f0600f;
    color: #fff;
    margin-inline-start: auto;
    -webkit-appearance: button;
    height: 32px;
    min-width: 60px;
    min-height: 32px;
    width: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: none;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    font-family: Arial;
}

    input[type=button]:hover, input[type=submit]:hover {
        background-color: #d05010;
    }

.button-1x2ahC {
    /*margin-left: 10px;*/
    cursor: pointer;
}

.button-38aScr {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.deleteButton {
    margin-left: auto;
    background-color: #da373c !important;
    padding: 2px !important;
}

    .deleteButton:hover {
        margin-left: auto;
        background-color: #a12828 !important;
    }

.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #fff;
    background-color: #f0600f;
}

.grow-q77ONN, .sizeIcon-1-kvKI {
    width: auto;
}

.lookFilled-1Gx00P .contents-18-Yxp, .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp {
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sizeSmall-2cSMqn {
    /*width: 60px;*/
    height: 32px;
    min-width: 60px;
    min-height: 32px;
}

.sizeLarge {
    height: 38px !important;
    min-width: 64px;
    min-height: 38px;
    padding: 2px 16px;
}

.contents_fb6220 {
    margin: 0 12.188px;
    font-size: 16px;
    height: 16px;
}

.dangerButton {
    margin-left: 16px !important;
    background-color: #da373c !important;
}

    .dangerButton:hover {
        background-color: #a12828 !important;
    }

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-radius: 2px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #d05010
}

.alert-box.danger {
    background-color: rgba(237,66,69,.1);
    border: 2px solid rgba(237,66,69,.5);
}

.alert-box {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

#accessdeniederror {
    display: none;
}

#connectionrefusederror {
    display: none;
}

#redisconnectionrefusederror {
    display: none;
}

#wrongpasserror {
    display: none;
}

#baddatabaseerror {
    display: none;
}

#invalidurlerror {
    display: none;
}

#wrongendpointerror {
    display: none;
}

#confokerror {
    display: none;
}

#badclientsecreterror {
    display: none;
}

#tokeninvaliderror {
    display: none;
}

#incorrectcredentialserror {
    display: none;
}

#unknownerror {
    display: none;
}

#unknowndiscorderror {
    display: none;
}

#cannotconnecttodiscorderror {
    display: none;
}

#nomysqlconferror {
    display: none;
}

#cannotcontactservererror {
    display: none;
}

#missingargserror {
    display: none;
}

.label-fppI2a {
    padding-top: 20px;
    display: block;
}

.marginBottom8-1wldKw {
    margin-bottom: 8px;
}

.marginBottom20 {
    margin-bottom: 20px;
}

.margin8 {
    margin: 8px;
}

.uppercase-1K74Lz {
    text-transform: uppercase;
}

.height16-3r2Q2W {
    line-height: 16px;
}

.size12-DS9Pyp {
    font-size: 12px;
}

.primary300-qtIOwv {
    color: #b9bbbe;
}

label {
    cursor: default;
}

.weightSemiBold-tctXJ7 {
    font-weight: 600;
}

.uppercase-1K74Lz {
    text-transform: uppercase;
}

.input-cIJ7To {
    background-color: #202325;
    border: 1px solid #040405;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f6f6f7;
    -webkit-transition: background-color .15s ease,border .15s ease;
    transition: background-color .15s ease,border .15s ease;
    width: calc(10em + (9rem + 2px));
}

.input-cIJ7To2 {
    background-color: #202225;
    border: 1px solid #040405;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f6f6f7;
    -webkit-transition: background-color .15s ease,border .15s ease;
    transition: background-color .15s ease,border .15s ease;
}

.inputDefault-_djjkz {
    padding: 10px;
    height: 40px;
}

.inputDefault-2x {
    min-height: 80px;
    height: 80%;
}

.size16-1__VVI {
    font-size: 16px;
}

p {
    width: initial;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 5px;
}

.path {
    stroke: #f0600f;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

.feature {
    text-align: center;
    border: 2px solid #f0600f;
    width: max-content;
    height: auto;
    margin: 40px 40px 20px 40px;
    padding: 10px;
    border-radius: 10px;
    moz-border-radius: 10px;
    webkit-border-radius: 10px
}

.feature-title {
    height: 2em
}

.global-intro-section {
    padding-top: calc(1.325rem + 0.5vw);
    background-color: #2f3136;
    padding-bottom: 1em
}

.home-feature-section {
    background-color: #36393f
}

.home-emoji {
    margin: 1rem 0.05em 1rem 0.1em;
    padding: 0.75em;
    font-size: 100px
}

.accordion-item .row {
    max-width: 40em;
    margin-inline: auto;
}

@media (min-width: 576px) {
    .accordion-item :is(select, input:not([type="button"]):not([type="submit"])) {
        width: 100%;
    }
}

label.required::after {
    content: " *";
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.prerelease-warning {
    background-color: #ff00ff;
    color: #ffffff;
    padding: calc(0.5ex + 0.5em);
    text-align: center;
    font-size: calc(1ex + 0.75em);
}

main {
    min-height: calc(100vh - (225px - 60px - 1.625rem));
}

.guild-bot-not-in {
    filter: grayscale(100%);
    transition: filter 0.15s ease-in-out;
}

    .guild-bot-not-in:hover {
        filter: grayscale(0%);
    }

.guild-icon {
    width: 100px;
}

.guild-list {
    padding: 1.5rem;
    justify-content: center;
    display: flex;
}

.guild {
    width: 136px;
    padding: 2ex;
}

a.guild-link {
    color: rgba(255, 255, 255, 0.55);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

    a.guild-link:hover {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

.guild-link p {
    text-align: center;
}

.no-guilds {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.55);
    padding-top: 5em;
    text-align: center;
}

.navbar-nav a:hover {
    text-decoration: none;
}

.loader:empty {
    position: absolute;
    top: calc(50% - 4em);
    left: calc(50% - 4em);
    width: 6em;
    height: 6em;
    border: 0.5em solid rgba(0, 0, 0, 0.2);
    border-left: 0.5em solid #f0600f;
    border-radius: 75%;
    animation: load8 1.1s infinite linear;
}

.loader:not(:empty) {
    animation: none;
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

pre {
    background-color: #2f3136;
    border-radius: 4px;
    padding: 1em;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 6px;
    white-space: pre-wrap;
    background-clip: border-box;
    border-color: whitesmoke;
}

@media only screen and (min-width: 768px) {
    .config-signin-card {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
    }
}

#config-createpassword-card {
    width: calc(8% + 5ch + 6em + 9em);
    min-height: calc(1ch + 9em + 5vw);
    max-width: 100vw;
    margin-top: calc(20vh + 3ch);
}

#confpassreqsnotmeterr {
    display: none;
}

#configpasssexistserror {
    display: none;
}

#confpassconfokerr {
    display: none;
}

#confpassmissfieldserr {
    display: none;
}

#confpassnomatcherr {
    display: none;
}

#confpassunknownerr {
    display: none;
}

#confpassnopassconfigurederr {
    display: none;
}

#confpassauthfailederr {
    display: none;
}

.view {
    min-height: calc(100vh)
}

.dashboard-guild-icon {
    max-width: 110px;
    width: calc(7vw + 3vh + 3ex)
}

.dashboard-category {
    min-width: calc(var(--bs-gutter-x) + 155px);
    display: flex;
    margin: 1em 0;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px;
}

.config-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px;
}

.category-card {
    grid-row: auto/span 2;
    display: grid;
    grid-template-rows: subgrid;
    grid-gap: 0;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #2f3136;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding-bottom: 2ex;
    width: 100%;
    max-width: 100%
}

.column-card {
    padding: 7px;
    padding-bottom: 15px;
    grid-row: auto/span 2;
    display: grid;
    grid-template-rows: subgrid;
    grid-gap: 0;
    background-color: #2f3136;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1101px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .config-grid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
    .config-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1101px) {
    .config-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.cat-link {
    height: min-content;
}

.cat-link:hover {
    text-decoration: none;
}

#dashboard-menu-list {
    width: 100%;
    background-color: #2b2d31;
    height: max-content;
}

.dashboard-menu-link {
    padding: 6px;
    color: rgba(255, 255, 255, 0.75);
    background-color: #2b2d31;
    width: max-content;
    display: inline-block;
    font-size: calc(1vh + 9px);
}

    .dashboard-menu-link:hover {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
        background-color: #202225;
    }

/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 576px) {
    #dashboard-menu-list {
        overflow: scroll;
        max-width: 100vw;
        white-space: nowrap;
    }
}

.base-Select-root {
    padding: 10px;
    min-height: 40px;
    height: max-content;
    width: 100%;
    background-color: #202325;
    border: 1px solid #040405;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f6f6f7;
    -webkit-transition: background-color .15s ease,border .15s ease;
    transition: background-color .15s ease,border .15s ease;
    text-align: left;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='%2372767d' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
}
.base-Select-listbox {
    padding: 0;
    background-color: #2b2d31;
    border: 1px solid #040405;
    border-top: none;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f6f6f7;
    -webkit-transition: background-color .15s ease,border .15s ease;
    transition: background-color .15s ease,border .15s ease;
    text-align: left;
    overflow-y: auto;
    overflow-wrap: anywhere;
    max-height: 30vh;
    scrollbar-color: #202225 rgba(0, 0, 0, 0);
    scrollbar-width: thin;
}

    .base-Select-listbox::-webkit-scrollbar {
        background: #ff0000;
        width: 15px;
        height: 15px;
    }


.dropdownValue {
    list-style: none;
    min-height: 40px;
    height: max-content;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

    .dropdownValue:hover {
        background-color: #35373c;
    }

.base--selected {
    background-color: #404249;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(240, 96, 15)" class="bi bi-check-circle-fill" viewBox="0 0 16 16"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/></svg>');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px;
}

.channelCategoryListChannels {
    pointer-events: none;
    cursor: initial;
}

.channelCategory {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255, 255, 255, 0.75)" class="bi bi-folder-fill" viewBox="0 0 16 16"> <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a2 2 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3m-8.322.12q.322-.119.684-.12h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981z"/> </svg>');
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px;
}

.textChannel {
    background-image: url('data:image/svg+xml,<svg class="icon_eff5d4" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 0.75)" fill-rule="evenodd" d="M10.99 3.16A1 1 0 1 0 9 2.84L8.15 8H4a1 1 0 0 0 0 2h3.82l-.67 4H3a1 1 0 1 0 0 2h3.82l-.8 4.84a1 1 0 0 0 1.97.32L8.85 16h4.97l-.8 4.84a1 1 0 0 0 1.97.32l.86-5.16H20a1 1 0 1 0 0-2h-3.82l.67-4H21a1 1 0 1 0 0-2h-3.82l.8-4.84a1 1 0 1 0-1.97-.32L15.15 8h-4.97l.8-4.84ZM14.15 14l.67-4H9.85l-.67 4h4.97Z" clip-rule="evenodd" class=""></path></svg>');
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px;
}

.voiceChannel {
    background-image: url('data:image/svg+xml,<svg class="icon_eff5d4" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 0.75)" d="M12 3a1 1 0 0 0-1-1h-.06a1 1 0 0 0-.74.32L5.92 7H3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h2.92l4.28 4.68a1 1 0 0 0 .74.32H11a1 1 0 0 0 1-1V3ZM15.1 20.75c-.58.14-1.1-.33-1.1-.92v-.03c0-.5.37-.92.85-1.05a7 7 0 0 0 0-13.5A1.11 1.11 0 0 1 14 4.2v-.03c0-.6.52-1.06 1.1-.92a9 9 0 0 1 0 17.5Z" class=""></path><path fill="rgba(255, 255, 255, 0.75)" d="M15.16 16.51c-.57.28-1.16-.2-1.16-.83v-.14c0-.43.28-.8.63-1.02a3 3 0 0 0 0-5.04c-.35-.23-.63-.6-.63-1.02v-.14c0-.63.59-1.1 1.16-.83a5 5 0 0 1 0 9.02Z" class=""></path></svg>');
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px;
}

.announcementChannel {
    background-image: url('data:image/svg+xml,<svg class="icon_eff5d4" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 0.75)" fill-rule="evenodd" d="M19.56 2a3 3 0 0 0-2.46 1.28 3.85 3.85 0 0 1-1.86 1.42l-8.9 3.18a.5.5 0 0 0-.34.47v10.09a3 3 0 0 0 2.27 2.9l.62.16c1.57.4 3.15-.56 3.55-2.12a.92.92 0 0 1 1.23-.63l2.36.94c.42.27.79.62 1.07 1.03A3 3 0 0 0 19.56 22h.94c.83 0 1.5-.67 1.5-1.5v-17c0-.83-.67-1.5-1.5-1.5h-.94Zm-8.53 15.8L8 16.7v1.73a1 1 0 0 0 .76.97l.62.15c.5.13 1-.17 1.12-.67.1-.41.29-.78.53-1.1Z" clip-rule="evenodd" class=""></path><path fill="rgba(255, 255, 255, 0.75)" d="M2 10c0-1.1.9-2 2-2h.5c.28 0 .5.22.5.5v7a.5.5 0 0 1-.5.5H4a2 2 0 0 1-2-2v-4Z" class=""></path></svg>');
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px;
}

.stageChannel {
    background-image: url('data:image/svg+xml,<svg class="icon_eff5d4" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 0.75)" d="M19.61 18.25a1.08 1.08 0 0 1-.07-1.33 9 9 0 1 0-15.07 0c.26.42.25.97-.08 1.33l-.02.02c-.41.44-1.12.43-1.46-.07a11 11 0 1 1 18.17 0c-.33.5-1.04.51-1.45.07l-.02-.02Z" class=""></path><path fill="rgba(255, 255, 255, 0.75)" d="M16.83 15.23c.43.47 1.18.42 1.45-.14a7 7 0 1 0-12.57 0c.28.56 1.03.6 1.46.14l.05-.06c.3-.33.35-.81.17-1.23A4.98 4.98 0 0 1 12 7a5 5 0 0 1 4.6 6.94c-.17.42-.13.9.18 1.23l.05.06Z" class=""></path><path fill="rgba(255, 255, 255, 0.75)" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.33 20.03c-.25.72.12 1.5.8 1.84a10.96 10.96 0 0 0 9.73 0 1.52 1.52 0 0 0 .8-1.84 6 6 0 0 0-11.33 0Z" class=""></path></svg>');
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px;
}

.forumChannel {
    background-image: url('data:image/svg+xml,<svg class="icon_eff5d4" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 0.75)" d="M18.91 12.98a5.45 5.45 0 0 1 2.18 6.2c-.1.33-.09.68.1.96l.83 1.32a1 1 0 0 1-.84 1.54h-5.5A5.6 5.6 0 0 1 10 17.5a5.6 5.6 0 0 1 5.68-5.5c1.2 0 2.32.36 3.23.98Z" class=""></path><path fill="rgba(255, 255, 255, 0.75)" d="M19.24 10.86c.32.16.72-.02.74-.38L20 10c0-4.42-4.03-8-9-8s-9 3.58-9 8c0 1.5.47 2.91 1.28 4.11.14.21.12.49-.06.67l-1.51 1.51A1 1 0 0 0 2.4 18h5.1a.5.5 0 0 0 .49-.5c0-4.2 3.5-7.5 7.68-7.5 1.28 0 2.5.3 3.56.86Z" class=""></path></svg>');
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px;
}

.mediaChannel {
    background-image: url('data:image/svg+xml,<svg class="icon_eff5d4" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="rgba(255, 255, 255, 0.75)" fill-rule="evenodd" d="M2 5a3 3 0 0 1 3-3h14a3 3 0 0 1 3 3v14a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5Zm13.35 8.13 3.5 4.67c.37.5.02 1.2-.6 1.2H5.81a.75.75 0 0 1-.59-1.22l1.86-2.32a1.5 1.5 0 0 1 2.34 0l.5.64 2.23-2.97a2 2 0 0 1 3.2 0ZM10.2 5.98c.23-.91-.88-1.55-1.55-.9a.93.93 0 0 1-1.3 0c-.67-.65-1.78-.01-1.55.9a.93.93 0 0 1-.65 1.12c-.9.26-.9 1.54 0 1.8.48.14.77.63.65 1.12-.23.91.88 1.55 1.55.9a.93.93 0 0 1 1.3 0c.67.65 1.78.01 1.55-.9a.93.93 0 0 1 .65-1.12c.9-.26.9-1.54 0-1.8a.93.93 0 0 1-.65-1.12Z" clip-rule="evenodd" class=""></path></svg>');
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px;
}

.unknownChannel {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><path fill="rgba(255, 255, 255, 0.75)" d="M17 27c-1.657 0-3-1.343-3-3v-4c0-1.657 1.343-3 3-3 .603-.006 6-1 6-5 0-2-2-4-5-4-2.441 0-4 2-4 3 0 1.657-1.343 3-3 3s-3-1.343-3-3c0-4.878 4.58-9 10-9 8 0 11 5.982 11 11 0 4.145-2.277 7.313-6.413 8.92-.9.351-1.79.587-2.587.747V24c0 1.657-1.343 3-3 3z"/><circle fill="rgba(255, 255, 255, 0.75)" cx="17" cy="32" r="3"/><script xmlns="" id="bw-fido2-page-script"/></svg>');
    background-repeat: no-repeat;
    background-position: left .75rem center;
    background-size: 16px;
}

.columnOptions {
    display: flex;
}

.deleteIcon {
    background-image: url('data:image/svg+xml,<svg class="icon_f09dde" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="rgb(255,255,255)" d="M14.25 1c.41 0 .75.34.75.75V3h5.25c.41 0 .75.34.75.75v.5c0 .41-.34.75-.75.75H3.75A.75.75 0 0 1 3 4.25v-.5c0-.41.34-.75.75-.75H9V1.75c0-.41.34-.75.75-.75h4.5Z" class=""></path><path fill="rgb(255,255,255)" fill-rule="evenodd" d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z" clip-rule="evenodd" class=""></path></svg>');
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    margin: 6px !important;
    height: 16px;
}

.deleteIconRow {
    background-image: url('data:image/svg+xml,<svg class="icon_f09dde" aria-hidden="true" role="img" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="rgb(255,255,255)" d="M14.25 1c.41 0 .75.34.75.75V3h5.25c.41 0 .75.34.75.75v.5c0 .41-.34.75-.75.75H3.75A.75.75 0 0 1 3 4.25v-.5c0-.41.34-.75.75-.75H9V1.75c0-.41.34-.75.75-.75h4.5Z" class=""></path><path fill="rgb(255,255,255)" fill-rule="evenodd" d="M5.06 7a1 1 0 0 0-1 1.06l.76 12.13a3 3 0 0 0 3 2.81h8.36a3 3 0 0 0 3-2.81l.75-12.13a1 1 0 0 0-1-1.06H5.07ZM11 12a1 1 0 1 0-2 0v6a1 1 0 1 0 2 0v-6Zm3-1a1 1 0 0 1 1 1v6a1 1 0 1 1-2 0v-6a1 1 0 0 1 1-1Z" clip-rule="evenodd" class=""></path></svg>');
    background-repeat: no-repeat;
    background-size: 12px;
    width: 12px !important;
    margin: 2px !important;
    height: 12px !important;
}

.deleteButtonWrapper {
    margin: auto;
    margin-right: 0;
}

.modal-content {
    text-transform: none !important;
    color: #fff;
    line-height: 1.5;
    cursor: initial;
    text-align: left !important;
    font-weight: 400 !important;
    font-family: var(--bs-font-sans-serif) !important;
    font-size: 1rem !important;
}

.modal-body {
    padding: 16px !important;
}

.modal-footer a {
    color: #fff;
}

.modal-footer a:hover {
    color: #fff;
}

.overlay {
    z-index: 1;
    position: absolute;
    background-color: #423338 !important;
    border-color: #983b3e !important;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 60%;
    text-align: left;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: max-content;
        height: max-content;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        opacity: 0.01;
        width: max-content;
        height: max-content;
    }

    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.overlaySuccess {
    z-index: 2;
    position: absolute;
    background-color: #1a6334 !important;
    border-color: #23a559 !important;
    left: 50%;
    -webkit-animation: fadeOut 6s;
    animation: fadeOut 6s;
    animation-fill-mode: forwards;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.allServersInput {
    background-color: #404248;
    padding: 10px;
    font-size: 24px;
    height: 60px;
    border-radius: 7px;
    width: 100%;
    margin: 15vh auto;
    border: none;
    color: #fff;
}

    .allServersInput::placeholder {
        color: #676971;
    }