@font-face {
    font-family: ab;
    src: url(h1.woff);
}

body {
    background-color: #36393f;
    text-rendering: optimizeLegibility;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

h1, h2, h3 {
    font-family: ab;
    color: white;
}

a {
    width:auto 
}

a:hover {
    text-decoration: underline;
}

input[type=submit] {
    color: white;
    background-color: #f0600f;
    border: none;
    padding: 1ex;
    border-radius: 5px;
    width: auto;
}

    input[type=submit]:hover {
        color: #f0600f;
        background-color: rgba(0, 0, 0, 0);
        border: 0.2ex solid #f0600f;
        padding: 0.8ex;
    }

.submit {
    display: block;
    margin-inline-start: auto;
}

input[type=button] {
    color: white;
    background-color: #f0600f;
    border: none;
    padding: 1ex;
    border-radius: 5px;
    display: block;
    margin-inline-start: auto;
}

    input[type=button]:hover {
        color: #f0600f;
        background-color: rgba(0, 0, 0, 0);
        border: 0.2ex solid #f0600f;
        padding: 0.8ex;
    }

.button-1x2ahC {
    /*margin-left: 10px;*/
    cursor: pointer;
}

.button-38aScr {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: none;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding: 2px 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #fff;
    background-color: hsl(139,calc(var(--saturation-factor, 1)*47.3%),43.9%);
}

.grow-q77ONN, .sizeIcon-1-kvKI {
    width: auto;
}

.lookFilled-1Gx00P .contents-18-Yxp, .lookInverted-2D7oAl .contents-18-Yxp, .lookLink-9FtZy- .contents-18-Yxp, .lookOutlined-3sRXeN .contents-18-Yxp {
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sizeSmall-2cSMqn {
    /*width: 60px;*/
    height: 32px;
    min-width: 60px;
    min-height: 32px;
}

button {
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
    border-radius: 2px;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: hsl(139,calc(var(--saturation-factor, 1)*47.1%),33.3%);
}

.alert-box.danger {
    background-color: rgba(237,66,69,.1);
    border: 2px solid rgba(237,66,69,.5);
}

.alert-box {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

#accessdeniederror {
    display: none;
}

#connectionrefusederror {
    display: none;
}

#redisconnectionrefusederror {
    display: none;
}

#wrongpasserror {
    display: none;
}

#baddatabaseerror {
    display: none;
}

#invalidurlerror {
    display: none;
}

#wrongendpointerror {
    display: none;
}

#confokerror {
    display: none;
}

#badclientsecreterror {
    display: none;
}

#tokeninvaliderror {
    display: none;
}

#incorrectcredentialserror {
    display: none;
}

#unknownerror {
    display: none;
}

#unknowndiscorderror {
    display: none;
}

#cannotconnecttodiscorderror {
    display: none;
}

#nomysqlconferror {
    display: none;
}

#cannotcontactservererror {
    display: none;
}

#missingargserror {
    display: none;
}

.label-fppI2a {
    padding-top: 20px;
    display: block;
}

.marginBottom8-1wldKw {
    margin-bottom: 8px;
}

.uppercase-1K74Lz {
    text-transform: uppercase;
}

.height16-3r2Q2W {
    line-height: 16px;
}

.size12-DS9Pyp {
    font-size: 12px;
}

.primary300-qtIOwv {
    color: #b9bbbe;
}

label {
    cursor: default;
}

.weightSemiBold-tctXJ7 {
    font-weight: 600;
}

.uppercase-1K74Lz {
    text-transform: uppercase;
}

.input-cIJ7To {
    background-color: #202225;
    border: 1px solid #040405;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #f6f6f7;
    -webkit-transition: background-color .15s ease,border .15s ease;
    transition: background-color .15s ease,border .15s ease;
    width: calc(10em + (9rem + 2px));
}

.inputDefault-_djjkz {
    padding: 10px;
    height: 40px;
}

.size16-1__VVI {
    font-size: 16px;
}

p {
    width: initial;
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 5px;
}

.path {
    stroke: #f0600f;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
}

.feature {
    text-align: center;
    border: 2px solid #f0600f;
    width: max-content;
    height: auto;
    margin: 40px 40px 20px 40px;
    padding: 10px;
    border-radius: 10px;
    moz-border-radius: 10px;
    webkit-border-radius: 10px
}

.feature-title {
    height: 2em
}

.global-intro-section {
    padding-top: calc(1.325rem + 0.5vw);
    background-color: #2f3136;
    padding-bottom: calc(1.325rem + 0.5vw);
}

.home-feature-section {
    background-color: #36393f
}

.home-emoji {
    margin: 1rem 0.05em 1rem 0.1em;
    padding: 0.75em;
    font-size: 100px
}

.accordion-item .row {
    max-width: 40em;
    margin-inline: auto;
}

@media (min-width: 576px) {
    .accordion-item :is(select, input:not([type="button"]):not([type="submit"])) {
        width: 100%;
    }
}

label.required::after {
    content: " *";
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.prerelease-warning {
    background-color:#ff00ff;
    color:#ffffff;
    padding: calc(0.5ex + 0.5em);
    text-align: center;
    font-size: calc(1ex + 0.75em);
}

main {
    min-height: calc(100vh - (225px - 60px - 1.625rem));
}

.guild-bot-not-in {
    filter: grayscale(100%);
    transition: filter 0.15s ease-in-out;
}

.guild-bot-not-in:hover {
    filter: grayscale(0%);
}

.guild-icon {
    width: 100px;
}

.guild-list {
    padding: 1.5rem;
    justify-content: center;
    display: flex;
}

.guild {
    width: 136px;
    padding: 2ex;
}

a.guild-link {
    color: rgba(255, 255, 255, 0.55);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

    a.guild-link:hover {
        color: rgba(255, 255, 255, 0.75);
        text-decoration: none;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    }

.guild-link p {
    text-align: center;
}

.no-guilds {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.55);
    padding-top: 5em;
    text-align: center;
}

.navbar-nav a:hover {
    text-decoration: none;
}