<!DOCTYPE html>
<html>
    <head>
        <title>BTS Bot - Configuration</title>
        <link rel='stylesheet' href='/resources/main.css'>
        <link rel='stylesheet' href='/resources/twemoji-amazing.css'>
        <link href="/resources/bootstrap.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
        <meta name="title" content="BTS Bot">
        <meta name="description" content="The bot that runs the core features in Bot Testing Server, just public">
        <meta name="keywords" content="bot, discord, test, testing, server, bots, discord bots">
        <meta name="author" content="439bananas">
        <meta name="email" content="me@439bananas.com">
        <meta name="robots" content="index, follow">
        <meta name="charset" content="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="image" content="<%= metaurl %>/resources/logo.png">
        <meta property="twitter:url" content="<%= metaurl %>">
        <meta property="twitter:title" content="BTS Bot">
        <meta property="twitter:image" content="<%= metaurl %>/resources/logo.png">
        <meta property="twitter:description" content="The bot that runs the core features in Bot Testing Server, just public">
        <meta property="theme-color" content="#caaf9a">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <div class="container">
                    <a href="/" class="navbar-brand"><img src="/resources/60px.png" class="img-fluid img-thumbnail"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="https://wiki.btsbot.439bananas.com" class="nav-link">Documentation</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://discord.gg/ahyzfEv" class="nav-link">Discord</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/439bananas/BTSBot" class="nav-link">GitHub</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <button type="button" class="button-1x2ahC button-38aScr lookFilled-1Gx00P colorGreen-29iAKY sizeSmall-2cSMqn grow-q77ONN" onClick="window.location.href='<%= metaurl %>'">
                                    <div class="contents-18-Yxp">Official dashboard</div>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
                <h1>configuration</h1>
                <p>
                    Step one: Enter MySQL database information
                </p>
                <div class="alert-box danger text-wrap">
                    ACCESS_DENIED: BTSBot cannot interact with the database with the specified credentials.<br />Are the credentials correct? Is the host correct? Do you have permission to access the database with the account in question?
                </div>
                <input type='submit' class='button' value='Next' onClick="window.location.href='/config/'" />
            </div>
        </main>
    </body>
</html>