<!DOCTYPE html>
<html>
<head>
    <title><%= projname %></title>
    <%- include('./partials/head'); %>
</head>
<body>
    <main>
        <div class="container">
            <center>
                <h2><%= i18ntitle %></h2>
                <div style="padding:1rem">
                    <img src="/resources/btsfrown.png" class="img-fluid" />
                </div>
                <p>
                    <div style="font-size:1.25rem">
                        <%- i18ndescription %>
                    </div>
                </p>
            </center>
        </div>
    </main>
</body>
</html>